.footer {
    background: #6e6363;
    width: 100%;

    height: 285px;
}

.container {
    width: 100%;
    

}

.row {
    padding: 40px 140px;
}
// .col-3{
//     // display: flex;
//     // flex-direction: column;
//     // justify-content: space-between;
// }